body {
   padding-left: 10px;
}

header {
   margin-top: 25px;
   margin-bottom: 10px;
}

.article {
   font-size: 32px;
   font-weight: 700;
   letter-spacing: 2px;
}

.lesson-list {
   font-size: 18px;
   line-height: 20px;
}
