
@import url(fonts.css);
@import url(reset.css); 

body{
   font-family: "Roboto", sans-serif;
   margin:50px;
}

header h1{
   font-family: "Lato", serif;
   font-size: 32px;
}

a{
   color:rgb(104, 175, 85);
}

li {
	list-style: inherit;
}

.rool{
   line-height: 25px;
   margin-bottom: 25px;
 }

 .rool>ol{
  font-weight: 700;
}

.rool ol p{
   font-weight: 400;
}

.rool > h3 {
   font-weight: 100;
   font-size: 24px;
   margin-bottom: 10px;
 }

 .selector li{
   font-weight: 400;
 }

 .selector ol{
   margin-bottom: 10px;
 }

 .selector p{
   font-weight: 700;
 }

 .rool.rool3 li{
   font-weight: 400;
 }

.chapter{
   color: orange;
   font-weight: 700;
}

footer .lesson-number{
   font-size: 24px;
   font-family:"Larsseit", serif;
   font-weight:500;
}





