@import url("https://fonts.googleapis.com/css2?family=Marmelad&display=swap");

/* UbuntuMono */
@font-face {
   font-family: "UbuntuMono";
   src:
      url(../font/UbuntuMono/UbuntuMono-Regular.woff2) format("woff2"),
      url(../font/UbuntuMono/UbuntuMono-Regular.woff) format("woff");
   font-weight: 400;
   font-style: normal;
   display: swap;
}

@font-face {
   font-family: "UbuntuMono";
   src:
      url(../font/UbuntuMono/UbuntuMono-Bold.woff2) format("woff2"),
      url(../font/UbuntuMono/UbuntuMono-Bold.woff) format("woff");
   font-style: normal;
   font-weight: 700;
   display: swap;
}

@font-face {
   font-family: "UbuntuMono";
   src:
      url(../tfont/UbuntuMono/UbuntuMono-Italic.woff2) format("woff2"),
      url(../tfont/UbuntuMono/UbuntuMono-Italic.woff) format("woff");
   font-style: italic;
   font-weight: 400;
   display: swap;
}

@font-face {
   font-family: "UbuntuMono";
   src:
      url(../font/UbuntuMono/UbuntuMono-BoldItalic.woff2) format("woff2"),
      url(../font/UbuntuMono/UbuntuMono-BoldItalic.woff) format("woff");
   font-style: italic;
   font-weight: 700;
   display: swap;
}
/* Georgia */
@font-face {
   font-family: "Georgia";
   src:
      url(../font/Georgia/Georgia.woff2) format("woff2"),
      url(../font/Georgia/Georgia.woff) format("woff");
   font-style: normal;
   font-weight: 400;
   display: swap;
}

@font-face {
   font-family: "Georgia";
   src:
      url(../font/Georgia/Georgia-Bold.woff2) format("woff2"),
      url(../font/Georgia/Georgia-Bold.woff) format("woff");
   font-style: normal;
   font-weight: 700;
   display: swap;
}

@font-face {
   font-family: "Georgia";
   src:
      url(../font/Georgia/Georgia-Italic.woff2) format("woff2"),
      url(../font/Georgia/Georgia-Italic.woff) format("woff");
   font-style: italic;
   font-weight: 400;
   display: swap;
}
