body {
   font-family: "UbuntuMono";
}
.arcticl {
   font-family: Georgia, serif;
   font-size: 32px;
   font-style: italic;
   color: orange;
   text-align: center;
   text-shadow: 1px 1px 1px black;
   text-transform: capitalize;
   line-height: 2;
   letter-spacing: 2px;
   word-spacing: 20px;
}

nav .list {
   font-family: "Marmelad", serif;
   font-size: 20px;
   color: steelblue;
   text-decoration: dotted underline;
   line-height: 1.5;
   margin-bottom: 25px;
}

h2 {
   font-family: "Marmelad", serif;
   font-weight: 700;
   font-size: 32px;
   text-transform: uppercase;
   text-indent: 20px;
}

.fw-bold {
   font-weight: 700;
   line-height: 1.5;
}

main > div {
   margin-bottom: 50px;
}

.text {
   text-align: justify;
   margin-bottom: 5px;
}