body {
   font-family: "Lato", seris;
   padding-bottom: 200px;
}

.main-container {
   max-width: 810px;
   margin: 0 auto;
   padding-top: 12px;
}

.articl {
   font-size: 46px;
   font-size: 1.3;
   font-weight: 900;
   margin-bottom: 92px;
}

.amg {
   margin-bottom: 60px;
   border-radius: 4px;
}

.text.text-bold,
.quotation {
   font-weight: 700;
   font-size: 20px;
   line-height: 150%;
}

.text {
   margin-bottom: 24px;
   line-height: 160%;
}

.quotation {
   margin: 48px 0 48px 58px;
}

.list {
   margin-bottom: 24px;
   margin-left: 32px;
}

.item {
   line-height: 160%;
   margin-bottom: 4px;
}
